[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.*"
channels = "==4.*"
msgpack = "==1.*"
psycopg = "==3.*"

[dev-packages]
async-timeout = "==5.*"
django = "==5.*"
django-stubs = {extras = ["compatible-mypy"], version = "==5.*"}
pylint = "==3.*"
pylint-django = "==2.*"
pytest = "==8.*"
pytest-asyncio = "==0.*"
pytest-cov = "==6.*"
ruff = "0.*"
tox = "==4.*"

[requires]
python_version = "3.13"

[scripts]
tests = "tox"
format = "ruff format ."
start_postgres = "docker run --rm --name channels_postgres_db -e POSTGRES_PASSWORD=password -e POSTGRES_DB=postgres -e POSTGRES_USER=postgres -p 5432:5432 postgres:17-alpine"
